@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.container {
    width: 680px;
    margin-left: 50px;
    margin-top: 80px;
}

.title {
    margin-bottom: 80px;
    font-size: 85px;
    letter-spacing: -0.055em;
    font-family: 'Playfair Display', serif;
}

.storyText {
    line-height: 32px;
    letter-spacing: 0.003em;
    font-size: 21px;
    margin-bottom: 10px;
}

.but {
    width: 588px;
    line-height: 40px;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -0.009em;
    background-color: rgb(14, 14, 14);
    margin-bottom: 20px;
    margin-top: 20px;
}